*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    background:#050505;
    color:white;
    text-align:center;

}




header{

    padding:25px;
    background:#111;

}


header h1{

    color:#d4af37;
    margin-bottom:10px;

}







#loginBox{

    width:90%;
    max-width:350px;
    margin:80px auto;
    background:#111;
    padding:30px;
    border-radius:20px;
    border:1px solid #d4af37;

}







.admin-box,
.search-admin{

    width:90%;
    max-width:450px;
    margin:25px auto;
    background:#111;
    padding:25px;
    border-radius:20px;
    border:1px solid #d4af37;

}







input,
select{

    width:90%;
    padding:13px;
    margin:10px;
    border-radius:10px;
    border:none;
    outline:none;

}






.btn-photo{

    display:inline-block;
    background:#d4af37;
    color:black;
    padding:13px 20px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    margin:15px;

}






#previewPhoto{

    margin:15px;
    border-radius:15px;
    max-width:90%;

}







.buy,
button{

    background:#d4af37;
    color:black;
    padding:13px 25px;
    border-radius:25px;
    border:none;
    cursor:pointer;
    font-weight:bold;
    margin:5px;

}



.buy:hover,
button:hover{

    transform:scale(1.05);

}








/* DASHBOARD */

.dashboard{

    display:flex;
    justify-content:center;
    margin:20px;

}



.stat{

    background:#111;
    padding:20px;
    border-radius:20px;
    border:1px solid #d4af37;
    width:250px;

}



.stat h3{

    color:#d4af37;

}






#listeProduits{

    width:90%;
    max-width:600px;
    margin:30px auto;

}






.product-admin{

    background:#111;
    padding:20px;
    margin:15px;
    border-radius:20px;
    border:1px solid #333;

}




.product-admin img{

    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:15px;

}



.product-admin h3{

    margin:15px 0;
    color:#d4af37;

}



.product-admin p{

    margin:10px;

}






.search-admin button{

    margin-top:10px;

}







@media(max-width:600px){


header h1{

    font-size:25px;

}


.admin-box,
.search-admin{

    width:95%;

}



}
