*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#0d0d0d;
    color:white;
}


header{
    text-align:center;
    padding:30px;
    background:#111;
}


.logo{
    width:120px;
    height:120px;
    object-fit:contain;
    margin-bottom:15px;
}


header h1{
    color:#d4af37;
    font-size:35px;
}


header p{
    margin-top:10px;
    color:#ddd;
}



/* MENU */

nav{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:15px;
    background:#111;
}


nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}


nav a:hover{
    color:#d4af37;
}



/* HERO */

.hero{
    text-align:center;
    padding:50px 20px;
}


.hero h2{
    font-size:30px;
}


.hero p{
    margin:20px 0;
}



/* RECHÈCH */

.search{
    margin:20px 0;
}


.search input{
    padding:12px;
    border-radius:20px;
    border:none;
    width:250px;
}



/* BOUTON */

.buy,
button{
    display:inline-block;
    background:#d4af37;
    color:black;
    padding:15px 30px;
    border-radius:25px;
    text-decoration:none;
    font-weight:bold;
    border:none;
}



/* KATEGORI */

.categories,
.products,
.contact{
    padding:30px;
    text-align:center;
}


.box,
.product{
    background:#181818;
    margin:15px auto;
    padding:20px;
    border-radius:20px;
    border:1px solid #d4af37;
    max-width:300px;
}



/* PRODUK */

.product img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
}


.product h3{
    margin:15px 0;
    font-size:22px;
}


.product p{
    color:#d4af37;
    font-size:18px;
    font-weight:bold;
}


.tag{
    background:#d4af37;
    color:black;
    padding:5px 12px;
    border-radius:15px;
    font-size:12px;
    font-weight:bold;
}


.stars{
    color:#d4af37;
    margin:10px;
    font-size:18px;
}



/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    background:#111;
    margin-top:30px;
}
.banner{

background:#181818;
text-align:center;
padding:40px 20px;
margin:20px;

border-radius:20px;
border:1px solid #d4af37;

}


.banner h2{

color:#d4af37;
font-size:30px;

}


.banner p{

margin:20px 0;
color:#ddd;

}
.promo{

padding:30px;
text-align:center;

}


.promo-card{

background:#181818;
border:1px solid #d4af37;
border-radius:20px;
padding:20px;
margin:15px auto;
max-width:300px;

}


.old-price{

text-decoration:line-through;
color:#aaa;

}


.new-price{

color:#d4af37;
font-size:22px;
font-weight:bold;

}


.promo-card span{

background:#d4af37;
color:black;
padding:5px 10px;
border-radius:15px;

}
.contact input,
.contact select,
.contact textarea{

display:block;
width:90%;
max-width:350px;
margin:15px auto;
padding:12px;
border-radius:10px;
border:none;

}


.contact textarea{

height:100px;

}
.btn-photo{
display:inline-block;
padding:12px 20px;
background:#000;
color:white;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}
